services:
  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: brnx-backend
    ports:
      - "3001:3000"
    env_file:
      - ./Backend/.env
    depends_on:
      - db
    volumes:
      - ./Backend:/app
      - /app/node_modules
    command: sh -c "npx prisma generate && npm run dev"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: brnx-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: ["npm", "run", "dev", "--", "--host"]
    depends_on:
      - backend

  db:
    image: postgres:15
    container_name: brnx-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
    volumes:
      - brnx_pgdata:/var/lib/postgresql/data

volumes:
  brnx_pgdata:
