.detalhes-container {
  padding: 20px 30px;
  width: 100%;
  max-width: 100%;
  font-family: "Outfit", sans-serif;
}

.detalhes-container h1 {
  font-size: 28px;
  font-weight: 700;
  color: #222;
  margin-bottom: 25px;
}

.detalhes-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 8%);
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-group label {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  margin-bottom: 4px;
  display: block;
}

.info-group p {
  background: #f8f9fc;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e4e7ec;
  font-size: 15px;
  margin: 0;
}

.info-row {
  display: flex;
  gap: 20px;
}

.info-row .info-group {
  flex: 1;
}

/* SELECT DO STATUS */
.info-group select {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
  background: white;
  cursor: pointer;
  transition: .2s;
}

.info-group select:focus {
  border-color: #0077ff;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
  outline: none;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .info-row {
    flex-direction: column;
  }
}

/* CONTAINER DOS BOTÕES */
.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 15px;         /* espaço entre os botões */
  margin-top: 25px;
}

/* ESTILOS BASE PARA AMBOS BOTÕES */
.btn-salvar,
.btn-voltar {
  min-width: 160px;      /* garante mesmo tamanho */
  text-align: center;
  padding: 12px 20px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

/* BOTÃO SALVAR */
.btn-salvar {
  background: #0077ff;
  color: white;
  border: none;
}

.btn-salvar:hover {
  background: #005fcc;
  transform: translateY(-2px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.btn-salvar:active {
  transform: translateY(0);
  box-shadow: none;
}

/* BOTÃO VOLTAR */
.btn-voltar {
  background: #ff0000;
  color: #ffffff;
  border: 1px solid #ccc;
}

.btn-voltar:hover {
  background: #e4e4e4;
}

